<header class="library-header">
    <div class="library-container">
        <div class="header-container">
            <div class="logo-container">
                <a href="./index.html" class="logo-film">
                    <svg class="logo" width="24" height="24">
                        <use class="logo-icon" href="#"></use>
                    </svg>
                    <span class="logo-name">Filmoteka</span>
                </a>
            </div>
            <nav class="header-nav">
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <a class="nav-list-link " href="./index.html">Home</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-list-link current" href="./library.html">My Library</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="library__filter">
          <ul class="filter__list list">
              <il class="filter__item item">
                  <button class="filter__button button" type="button">Watched</button>
              </il>
              <il class="filter__item item">
                  <button class="filter__button button" type="button">Queue</button>
              </il>
          </ul>
      </div>
        </div>

</header>