<section class="gallery-section">
  <div class="container gallery-container gallery">
    <ul class="library-list">
      <!-- <li class="film-card">
        
        <picture class="film-card__img">
          <source
            srcset="./images/no-foto.jpg"
            loading="lazy"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/no-foto.jpg"
            loading="lazy"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/no-foto.jpg"
            loading="lazy"
            media="(min-width: 320px)"
          />
          <img
            class="film-card__img film-img"
            src="./images/no-foto.jpg"
            alt="Poster for the film"
            width="395"
          />
        </picture>
        <h3 class="film-card__title">Title film</h3>
        <div class="film-card_info-container">
          <ul class="film-card__caption">
            <li class="film-card__genre">Genre film</li>
            <li class="film-card__date">Date film</li>
          </ul>
        </div>
        
      </li>
      <li class="film-card">
        
        <picture class="film-card__img">
          <source
            srcset="./images/no-foto.jpg"
            loading="lazy"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/no-foto.jpg"
            loading="lazy"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/no-foto.jpg"
            loading="lazy"
            media="(min-width: 320px)"
          />
          <img
            class="film-card__img film-img"
            src="./images/no-foto.jpg"
            alt="Poster for the film"
            width="395"
          />
        </picture>
        <h3 class="film-card__title">Title film</h3>
        <div class="film-card_info-container">
          <ul class="film-card__caption">
            <li class="film-card__genre">Genre film</li>
            <li class="film-card__date">Date film</li>
          </ul>
        </div>
       
      </li>
      <li class="film-card">
        
        <picture class="film-card__img">
          <source
            srcset="./images/no-foto.jpg"
            loading="lazy"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/no-foto.jpg"
            loading="lazy"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/no-foto.jpg"
            loading="lazy"
            media="(min-width: 320px)"
          />
          <img
            class="film-card__img film-img"
            src="./images/no-foto.jpg"
            alt="Poster for the film"
            width="395"
            height="574"
          />
        </picture>
        <h3 class="film-card__title">Title film</h3>
        <div class="film-card_info-container">
          <ul class="film-card__caption">
            <li class="film-card__genre">Genre film</li>
            <li class="film-card__date">Date film</li>
          </ul>
        </div>
        
      </li> -->
    </ul>
  </div>

  <!-- <div class="empty-wrapp">
    <p class="empty-text">
      No movies added. Select a movie on the
      <a href="./index.html" class="empty-link-home">Home</a>
    </p>
  </div> -->
</section>
