<div class="footer__backdrop is-hidden" id="modal-team">
  <div class="footer__modal">
    <button class="close" id="close">X</button>
    <h2 class="team">Our Team</h2>
    <ul class="team__list">
      <!-- 1st -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/BohdanMus"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/BohdanMus"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/BohdanMusiienko.jpg"
                alt="BohdanMusiienko"
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Bohdan Musiienko</h3>
          <p class="team__student-role">Team-lead</p>
        </div>
      </li>
      <!-- 2nd -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/Inhaasap"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/Inhaasap"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/InhaYurchenko.jpg"
                alt="InhaYurchenko"
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Inha Yurchenko</h3>
          <p class="team__student-role">Scrum master</p>
        </div>
      </li>
      <!-- 3d -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/iSteffan"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/iSteffan"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/InhaYurchenko.jpg"
                alt="StepanSkichko"
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Stepan Skichko</h3>
          <p class="team__student-role">Developer</p>
        </div>
      </li>
      <!-- 4th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/DmitroLitvinenko"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/DmitroLitvinenko"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/DmytroLitvinenko.jpg"
                alt="DmytroLitvinenko "
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Dmytro Litvinenko</h3>
          <p class="team__student-role">Developer</p>
        </div>
      </li>
      <!-- 5th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/AnastasiiaYurchenko"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/AnastasiiaYurchenko"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/AnastasiiaYurchenko.jpg"
                alt="AnastasiiaYurchenko "
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Anastasiia Yurchenko</h3>
          <p class="team__student-role">Developer</p>
        </div>
      </li>
      <!-- 6th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/MarkoVoitovych"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/SerhiiRud"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/RudSerhii.jpg"
                alt="SerhiiRud"
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Serhii Rud</h3>
          <p class="team__student-role">Developer</p>
        </div>
      </li>
      <!-- 7th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/NataliiaRud"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/NataliiaRud"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/RudNataliia.jpg"
                alt="NataliiaRud"
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Nataliia Rud</h3>
          <p class="team__student-role">Developer</p>
        </div>
      </li>
      <!-- 8th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/maridanyliuk "
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/maridanyliuk"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/BohdanMusiienko.jpg"
                alt="MarynaDanyliuk"
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Maryna Danyliuk</h3>
          <p class="team__student-role">Developer</p>
        </div>
      </li>
      <!-- 9th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/olsib8"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/olsib8"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/BohdanMusiienko.jpg"
                alt="OleksandrSibirtsev"
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Oleksandr Sibirtsev</h3>
          <p class="team__student-role">Developer</p>
        </div>
      </li>
      <!-- 10th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/Bivis60"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/Bivis60"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/BohdanMusiienko.jpg"
                alt="AnatoliiPysarenko"
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Anatolii Pysarenko</h3>
          <p class="team__student-role">Developer</p>
        </div>
      </li>
      <!-- 11th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/NataliTs"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/NataliTs"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/NataliiaTsyren.jpg"
                alt="NataliiaTsyren"
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Nataliia Tsyren</h3>
          <p class="team__student-role">Developer</p>
        </div>
      </li>
      <!-- 12th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/Elnara000"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/Elnara000"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/BohdanMusiienko.jpg"
                alt="ElnaraMamedova"
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Elnara Mamedova</h3>
          <p class="team__student-role">Developer</p>
        </div>
      </li>
      <!-- 13th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/dimivaksman"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="https://github.com/dimivaksman"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Linkedin"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__foto-thumb">
              <img
                class="team__student-foto"
                src="./images/Team/BohdanMusiienko.jpg"
                alt="Dmytro Vaksman"
                width="280px"
              />
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Dmytro Vaksman</h3>
          <p class="team__student-role">Developer</p>
        </div>
      </li>
    </ul>
  </div>
</div>
