.footer {
  width: 100%;
  height: 100px;
  margin-top: auto;
  padding-top: 28px;
  padding-bottom: 29px;
  text-align: center;
  background-color: #f7f7f7;

  @media screen and (min-width: 768px) {
    height: 79px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer__text {
font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}

@keyframes logoPulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.footer__btn {
  background-color: transparent;
  text-decoration: underline #545454;
}

.footer__btn:hover {
  font-weight: 600;
  color: #545454bb;
  text-decoration: underline 2px #545454bb;
}

.footer__btn:hover 
.footer__list-icon {
  width: 200px;
  height: 200px;
}