.homepage {
  color: #ff6b08;
}

.empty-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.4;
  margin: 0 auto;
}
