.footer__backdrop {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(36, 29, 29, 0.4);
}

.footer__modal {
  background-color: white;
  margin: 0 auto;
  padding: 1px;
  border: 1px solid rgb(141, 65, 65);
  border-radius: 20px;
  width: 70%;
  position: relative;
}

.close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid rgba(23, 22, 22, 0.547);
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  color: rgb(238, 9, 9);
  border-color: rgb(238, 9, 9);;
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  background-color: transparent;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}

.team__wrapper {
  display: flex;
  align-items: center;
}

.sns-list {
  margin-right: 10px;
  margin-left: auto;
}

.sns-list__item {
  display: block;
  margin: 0 auto;
}

.sns-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
  margin-left: 10px;
  border: none;
  outline: none;

  width: 100%;
  cursor: pointer;

  width: 24px;
  height: 24px;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
}

@keyframes text {
  0% {
    color: var(--mainAccentColor);
    margin-bottom: 10px;
  }

  30% {
    letter-spacing: 25px;
    margin-bottom: 10px;
  }

  85% {
    letter-spacing: 10px;
    margin-bottom: 10px;
  }
} 

.team__student-photo--wrap {
  margin: 0 auto;
  padding: 20px;
}

.team__border-outside {
  padding: 5px;
  margin: 0 auto;
  width: 150px;
  border-radius: 10%;
  border: none;
  margin-bottom: 10px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;

  &:hover,
  &:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }

}

.team__foto-thumb {
  margin-bottom: 0;
  width: 140px;
  height: 170px;
  border-radius: 10%;
  overflow: hidden;
}

.team__student-foto {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  object-fit: cover;
  object-position: top;
}

.team__student-card {
padding: 10px;
  font-size: 14px;
}

.team__student-name {
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 15px;
}

.team__student-role {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
  text-shadow: 0.5px 0.5px 1px rgb(255, 255, 255);
}

.noScroll {
  overflow: hidden;
}
